#port
server.port=8090
spring.datasource.url= {{ service_install_run_data_source_connection  }} 
#identifiant base de données
spring.datasource.username= {{ service_install_run_data_source_connection_user }}
spring.datasource.password= {{ service_install_run_data_source_connectioin_password }} 
spring.datasource.driverClassName=com.mysql.cj.jdbc.Driver

# Hibernate ddl auto (create, create-drop, validate, update)
spring.jpa.hibernate.ddl-auto=update
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQL5Dialect

spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true
#Logger
logging.level.org.hibernate.SQL=DEBUG
logging.level.org.hibernate.type.descriptor.sql.BasicBinder=TRACE
#Logger