version: '3.0'
services:
  etatcivil:
     image: {{ service_install_run_image }}
     container_name: etat_civil     
     working_dir: /ali/etc
     command: java -jar /etatcivil/GestionMairieComores-{{ service_install_run_version }}.jar  --spring.config.location=file:/etc/application.properties
     volumes:
     - /ali/etc/application.properties:/etc/application.properties
     ports:
     - 8090:8090